body {
    background-color:lightgrey;
    text-align: center;

}

header {
    color: green;
}

ul {
    color: darkblue;
    padding: 30px;
    margin-left: 40%;
    margin-right: 40%;
}
.musical_artists {
    color: darkblue;
    text-align: center;
    padding: 30px;
    margin-left: 40%;
    margin-right: 40%;
}